services:
  nginx:
    image: nginx:alpine
    container_name: obsidian-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    depends_on:
      - obsidian-personal
      - obsidian-work
    restart: unless-stopped

  obsidian-personal:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian-personal
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SUBFOLDER=/personal/
    volumes:
      - ./personal/config:/config
      - ./personal/vaults:/vaults
    expose:
      - "3000"
    restart: unless-stopped

  obsidian-work:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian-work
    security_opt:
      - seccomp:unconfined
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SUBFOLDER=/work/
    volumes:
      - ./work/config:/config
      - ./work/vaults:/vaults
    expose:
      - "3000"
    restart: unless-stopped
